@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html,
body {
  scrollbar-width: none;
  overscroll-behavior: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}